body {
    background: #f7f7f7;
}

article {
    width: 800px;
    border: 1px solid #e0e0e0;
    margin: 5px auto;
    padding: 15px;
}

h1,h2 {
    text-align: center;
}

article a {
    color: #111a4d;
    text-decoration: none;
    font: 15px Verdana;
}

article a:hover{
    text-decoration: underline;
}

article p {
    text-align: justify;
}

article .author {
    color: #999999;
}